main {
    padding: 100px;
}

article {
    margin-bottom: 100px;
    text-align: justify;
}

article h2 {
    margin-top: 5;
}

article li{
    text-decoration-color: blueviolet;
    text-shadow: 0lh;
}

footer {
    background-color: beige;
    color: black;
    padding: 1rem;
    text-align: center;
  }